<!--bootstrap-->
<script src="@@path/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- headroom JS -->
<script src="@@path/vendor/headroom/headroom.min.js"></script>

<!-- swiper JS -->
<script src="@@path/vendor/swiper/swiper-bundle.min.js"></script>



<!-- purecounter JS -->
<script src="@@path/vendor/purecounter/purecounter_vanilla.js"></script>


<!-- working form -->
<!-- <script src="@@path/vendor/mail/js/form.min.js"></script>
<script src="@@path/vendor/mail/js/script.js"></script> -->

<!-- Theme JS -->
<script src="@@path/js/theme.js"></script>

<script src="@@path/js/jquery-3.5.1.min.js"></script>
<!-- magnific JS -->
<script src="@@path/vendor/magnific/jquery.magnific-popup.min.js"></script>
<!-- magnific JS -->
<script src="@@path/vendor/isotope/isotope.pkgd.min.js"></script>
<script src="@@path/js/theme-jquery.js"></script>