<footer class="bg-dark footer">
    <div class="footer-top py-6">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 my-4">
                    <div class="mb-4">
                        <img src="../assets/img/landing/logo-light.svg" title="" alt="">
                    </div>
                    <div class="nav">
                        <a class="icon btn btn-primary p-0 rounded-circle me-2" href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="icon btn btn-primary p-0 rounded-circle me-2" href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="icon btn btn-primary p-0 rounded-circle me-2" href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="icon btn btn-primary p-0 rounded-circle me-2" href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-lg-2 my-4">
                    <h5 class="text-white footer-title-01 fs-lg">Useful</h5>
                    <ul class="list-unstyled footer-link-01 m-0">
                        <li>
                            <a class="text-white text-opacity-75" href="#">Apps Store</a>
                        </li>
                        <li>
                            <a class="text-white text-opacity-75" href="#">Google Store</a>
                        </li>
                        <li>
                            <a class="text-white text-opacity-75" href="#">Latest News</a>
                        </li>
                        <li>
                            <a class="text-white text-opacity-75" href="#">Our Blog</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 my-4">
                    <h5 class="text-white footer-title-01 fs-lg">Services</h5>
                    <ul class="list-unstyled footer-link-01 m-0">
                        <li>
                            <a class="text-white text-opacity-75" href="#">Our Product</a>
                        </li>
                        <li>
                            <a class="text-white text-opacity-75" href="#">Documentation</a>
                        </li>
                        <li>
                            <a class="text-white text-opacity-75" href="#">Our Services</a>
                        </li>
                        <li>
                            <a class="text-white text-opacity-75" href="#">Company</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 my-4">
                    <h5 class="text-white footer-title-01 fs-lg">Community</h5>
                    <ul class="list-unstyled footer-link-01 m-0">
                        <li>
                            <a class="text-white text-opacity-75" href="#">What We Do?</a>
                        </li>
                        <li>
                            <a class="text-white text-opacity-75" href="#">About Us</a>
                        </li>
                        <li>
                            <a class="text-white text-opacity-75" href="#">Services</a>
                        </li>
                        <li>
                            <a class="text-white text-opacity-75" href="#">Pricing</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 my-4">
                    <h5 class="text-white footer-title-01 fs-lg">Quick Links</h5>
                    <ul class="list-unstyled footer-link-01 m-0">
                        <li>
                            <a class="text-white text-opacity-75" href="#">Our Cases</a>
                        </li>
                        <li>
                            <a class="text-white text-opacity-75" href="#">Portfolio</a>
                        </li>
                        <li>
                            <a class="text-white text-opacity-75" href="#">Get a Quote</a>
                        </li>
                        <li>
                            <a class="text-white text-opacity-75" href="#">Our Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom small py-3 border-top border-white border-opacity-10">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start py-1">
                    <p class="m-0 text-white text-opacity-75">© 2022 copyright by <a href="pxdraft.com" class="text-reset">pxdraft</a></p>
                </div>
                <div class="col-md-6 text-center text-md-end py-1">
                    <img src="../assets/img/landing/payments.png" title="" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>