<footer class="bg-dark footer">
    <div class="footer-top py-8">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-3">
                    <img src="../assets/img/landing/logo-light.svg" title="" alt="">
                </div>
                <div class="col-6 col-lg-2">
                    <h5 class="text-white footer-title-01 fs-lg">Useful</h5>
                    <ul class="list-unstyled footer-link-01 m-0">
                        <li>
                            <a class="text-white text-opacity-75" href="#">Apps Store</a>
                        </li>
                        <li>
                            <a class="text-white text-opacity-75" href="#">Google Store</a>
                        </li>
                        <li>
                            <a class="text-white text-opacity-75" href="#">Latest News</a>
                        </li>
                        <li>
                            <a class="text-white text-opacity-75" href="#">Our Blog</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2">
                    <h5 class="text-white footer-title-01 fs-lg">Useful</h5>
                    <ul class="list-unstyled footer-link-01 m-0">
                        <li>
                            <a class="text-white text-opacity-75" href="#">Apps Store</a>
                        </li>
                        <li>
                            <a class="text-white text-opacity-75" href="#">Google Store</a>
                        </li>
                        <li>
                            <a class="text-white text-opacity-75" href="#">Latest News</a>
                        </li>
                        <li>
                            <a class="text-white text-opacity-75" href="#">Our Blog</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <h5 class="text-white footer-title-01 fs-lg">
                        Stay up to date
                    </h5>
                    <form>
                        <div class="d-flex flex-column flex-md-row mb-2">
                            <input type="email" class="form-control me-md-2 mb-2 mb-md-0" placeholder="Enter your username">
                            <button class="btn btn-primary flex-shrink-0" type="submit">Get Started</button>
                        </div>
                        <p class="text-white-50 m-0">New UI kits or big discounts. Never spam.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom small py-3 border-top border-white border-opacity-10">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start py-1">
                    <p class="m-0 text-white text-opacity-75">© 2022 copyright by <a class="text-reset" href="https://pxdraft.com/">pxdraft</a></p>
                </div>
                <div class="col-md-6 text-center text-md-end py-1">
                    <div class="nav justify-content-center justify-content-md-end">
                        <a class="icon-sm bg-primary rounded-circle text-white me-2" href="#"><i class="bi bi-facebook"></i></a>
                        <a class="icon-sm bg-primary rounded-circle text-white me-2" href="#"><i class="bi bi-twitter"></i></a>
                        <a class="icon-sm bg-primary rounded-circle text-white me-2" href="#"><i class="bi bi-instagram"></i></a>
                        <a class="icon-sm bg-primary rounded-circle text-white me-2" href="#"><i class="bi bi-linkedin"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</footer>