<footer class="bg-dark footer">
    <div class="footer-top py-6">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 my-3">
                    <div class="pb-3">
                        <img src="../assets/img/landing/logo-light.svg" title="" alt="">
                    </div>
                    <address class="mb-4">
                        <p class="text-white text-opacity-80 mb-2">301 The Greenhouse London,<br> E2 8DY UK</p>
                        <p class="mb-2"><a class="border-bottom border-secondary text-white" href="mailto:support@domain.com">support@domain.com</a></p>
                        <p class="mb-2"><a class="border-bottom border-secondary text-white" href="tel:820-885-3321">820-885-3321</a></p>
                    </address>
                    <div class="nav fs-5">
                        <a class="me-3 text-white" href="#">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a class="me-3 text-white" href="#">
                            <i class="bi bi-twitter"></i>
                        </a>
                        <a class="me-3 text-white" href="#">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a class="me-3 text-white" href="#">
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2 my-3">
                    <h6 class="text-white text-uppercase mb-5">
                        Support
                    </h6>
                    <ul class="list-unstyled footer-link-01 m-0">
                        <li class="pb-2">
                            <a href="#" class="text-white text-opacity-75">Help</a>
                        </li>
                        <li class="pb-2">
                            <a href="#" class="text-white text-opacity-75">Contact Us</a>
                        </li>
                        <li class="pb-2">
                            <a href="#" class="text-white text-opacity-75">Feedback</a>
                        </li>
                        <li class="pb-2">
                            <a href="#" class="text-white text-opacity-75">Unsubscribe</a>
                        </li>
                        <li class="pb-2">
                            <a href="#" class="text-white text-opacity-75">Reservations</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-2 my-3">
                    <h6 class="text-white text-uppercase mb-5">
                        Policies
                    </h6>
                    <ul class="list-unstyled footer-link-01 m-0">
                        <li class="pb-2">
                            <a href="#" class="text-white text-opacity-75">Privacy Policy</a>
                        </li>
                        <li class="pb-2">
                            <a href="#" class="text-white text-opacity-75">Terms of use</a>
                        </li>
                        <li class="pb-2">
                            <a href="#" class="text-white text-opacity-75">Gift card conditions</a>
                        </li>
                        <li class="pb-2">
                            <a href="#" class="text-white text-opacity-75">Shipping</a>
                        </li>
                        <li class="pb-2">
                            <a href="#" class="text-white text-opacity-75">Return</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-4 my-3">
                    <h6 class="text-white text-uppercase mb-5">
                        Stay up to date
                    </h6>
                    <p class="text-white text-opacity-75">Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan.</p>
                    <form>
                        <div class="input-group mb-2">
                            <input type="email" class="form-control" placeholder="Enter your email">
                            <button class="btn btn-primary" type="submit"><i class="bi bi-envelope"></i></button>
                        </div>
                        <p class="text-white text-opacity-75 m-0">New UI kits or big discounts. Never spam.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom small py-3 border-top border-white border-opacity-10">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start py-1">
                    <p class="m-0 text-white text-opacity-75">© 2022 copyright by <a href="pxdraft.com" class="text-reset">pxdraft</a></p>
                </div>
                <div class="col-md-6 text-center text-md-end py-1">
                    <img src="../assets/img/landing/payments.png" title="" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>