<header class="main-header main-header-01 @@HeaderClass">
    <nav class="navbar navbar-expand-lg">
        <div class="@@ContainerClass">
            <!-- Logo -->
            <a class="navbar-brand header-navbar-brand" href="index.html">
                <img class="logo-dark" src="../assets/img/landing/logo.svg" title="" alt="">
                <img class="logo-light" src="../assets/img/landing/logo-light.svg" title="" alt="">
            </a>
            <div class="h-toggle d-lg-none">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar1" aria-controls="offcanvasNavbar1">
                    <span class="toggler-icon"></span>
                </button>
            </div>
            <!-- Logo -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar1" aria-labelledby="offcanvasNavbar1Label">
                <div class="offcanvas-header">
                    <div class="offcanvas-title" id="offcanvasNavbar1Label">
                        <img class="logo-dark" src="../assets/img/landing/logo.svg" title="" alt="">
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasExample" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Home
                            </a>
                            <ul class="dropdown-menu start">
                                <li><a class="dropdown-item" href="index.html">Home Option 01</a></li>
                                <li><a class="dropdown-item" href="index-02.html">Home Option 02</a></li>
                                <li><a class="dropdown-item" href="index-03.html">Home Option 03</a></li>
                                <li><a class="dropdown-item" href="index-04.html">Home Option 04</a></li>
                                <li><a class="dropdown-item" href="index-05.html">Home Option 05</a></li>
                                <li><a class="dropdown-item" href="index-06.html">Home Option 06</a></li>
                                <li><a class="dropdown-item" href="index-07.html">Home Option 07</a></li>
                                <li><a class="dropdown-item" href="index-08.html">Home Option 08</a></li>
                                <li><a class="dropdown-item" href="index-09.html">Home Option 09</a></li>
                                <li><a class="dropdown-item" href="index-10.html">Home Option 10</a></li>
                                <li><a class="dropdown-item" href="index-11.html">Home Option 11</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Pages
                            </a>
                            <ul class="dropdown-menu start">
                                <li><a class="dropdown-item" href="about.html">About</a></li>
                                <li><a class="dropdown-item" href="services.html">Services</a></li>
                                <li><a class="dropdown-item" href="pricing.html">Pricing</a></li>
                                <li><a class="dropdown-item" href="contact-us.html">Contact</a></li>
                                <li><a class="dropdown-item" href="faq.html">Faq's</a></li>
                                <li><a class="dropdown-item" href="help.html">Help</a></li>
                                <li><a class="dropdown-item" href="help-topic.html">Help Topic</a></li>
                                <li><a class="dropdown-item" href="career.html">Career</a></li>
                                <li><a class="dropdown-item" href="Single Careers.html">Single Careers</a></li>
                                <li><a class="dropdown-item" href="login.html">Login</a></li>
                                <li><a class="dropdown-item" href="sign-up.html">Sign Up</a></li>
                                <li><a class="dropdown-item" href="recover-account.html">Recover Account</a></li>
                                <li><a class="dropdown-item" href="policy.html">Policy</a></li>
                                <li><a class="dropdown-item" href="404.html">404</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Blog
                            </a>
                            <ul class="dropdown-menu start">
                                <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                                <li><a class="dropdown-item" href="blog-single.html">Blog Single</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                More Demos
                            </a>
                            <ul class="dropdown-menu start">
                                <li><a class="dropdown-item" href="../landing/index.html">Landing</a></li>
                                <li><a class="dropdown-item" href="../eCommerce/index.html">E-commerce</a></li>
                                <li><a class="dropdown-item" href="../nft/index.html">NFT Marketplace</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-right d-none d-lg-block ps-4">
                <a href="#" class="btn btn-warning">
                    Sign Up
                </a>
            </div>
        </div>
    </nav>
</header>