<footer class="footer footer-bg">
    <div class="py-7 py-md-8 py-lg-10 top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 my-3 pe-xxl-5">
                    <div class="pb-4">
                        <img src="../assets/img/nft/logo-light.svg" title="" alt="">
                    </div>
                    <p>Crypto collectibles and non-fungible tokens (NFTs). Buy, sell, and discover exclusive digital items.</p>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 my-3">
                            <h5 class="footer-title-01 text-white">Marketplace</h5>
                            <ul class="list-unstyled footer-link-01 m-0">
                                <li>
                                    <a href="#">All NFTs</a>
                                </li>
                                <li>
                                    <a href="#">New</a>
                                </li>
                                <li>
                                    <a href="#">Collectibles</a>
                                </li>
                                <li>
                                    <a href="#">Photography</a>
                                </li>
                                <li>
                                    <a href="#">Trading Cards</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-sm-6 my-3">
                            <h5 class="footer-title-01 text-white">Resources</h5>
                            <ul class="list-unstyled footer-link-01 m-0">
                                <li>
                                    <a href="#">Help Center</a>
                                </li>
                                <li>
                                    <a href="#">Platform Status</a>
                                </li>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Copyright</a>
                                </li>
                                <li>
                                    <a href="#">Popular Campaign</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-sm-6 my-3">
                            <h5 class="footer-title-01 text-white">Marketplace</h5>
                            <ul class="list-unstyled footer-link-01 m-0">
                                <li>
                                    <a href="#">All NFTs</a>
                                </li>
                                <li>
                                    <a href="#">New</a>
                                </li>
                                <li>
                                    <a href="#">Collectibles</a>
                                </li>
                                <li>
                                    <a href="#">Photography</a>
                                </li>
                                <li>
                                    <a href="#">Trading Cards</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 my-3">
                    <h5 class="footer-title-01 text-white">Stay up to date</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                    <form>
                        <div class="d-flex flex-row">
                            <input type="email" class="form-control me-2" placeholder="Enter your username">
                            <button class="btn btn-outline-light flex-shrink-0" type="submit"><i class="bi-envelope"></i></button>
                        </div>
                        <p class="m-0 mt-2 small">New UI kits or big discounts. Never spam.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row py-3 gy-3 align-items-center">
                <div class="col-md-6">
                    <ul class="nav justify-content-center justify-content-md-start my-2 links-white small list-unstyled footer-link-01 m-0">
                        <li class="p-0 mx-3 ms-md-0 me-md-3"><a href="#">Privace &amp; Policy</a></li>
                        <li class="p-0 mx-3 ms-md-0 me-md-3"><a href="#">Faq's</a></li>
                        <li class="p-0 mx-3 ms-md-0 me-md-3"><a href="#">Get a Quote</a></li>
                    </ul>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <p class="text-white-85 small m-0">© 2022 copyright by <a href="pxdraft.com" class="text-reset">pxdraft</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>