<header class="main-header main-header-01 @@HeaderClass">
    <nav class="navbar navbar-expand-lg">
        <div class="@@ContainerClass">
            <!-- Logo -->
            <a class="navbar-brand header-navbar-brand" href="@@path/index.html">
                <img src="@@imgPath/img/nft/logo.svg" title="" alt="">
                <!-- <img class="logo-light" src="@@imgPath/img/nft/logo-light.svg" title="" alt=""> -->
            </a>
            <!-- Logo -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
                <div class="offcanvas-header">
                    <div class="offcanvas-title" id="offcanvasNavbar2Label">
                        <img src="@@imgPath/img/nft/logo.svg" title="" alt="">
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Home
                            </a>
                            <ul class="dropdown-menu start">
                                <li><a class="dropdown-item" href="@@path/index.html">Home Option 1</a></li>
                                <li><a class="dropdown-item" href="@@path/index-02.html">Home Option 2</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Explor
                            </a>
                            <ul class="dropdown-menu start">
                                <li><a class="dropdown-item" href="@@path/explore.html">Explor</a></li>
                                <li><a class="dropdown-item" href="@@path/item-detail.html">Item Details</a></li>
                                <li><a class="dropdown-item" href="@@path/creators.html">Creators</a></li>
                                <li><a class="dropdown-item" href="@@path/upload-items.html">Select Items</a></li>
                                <li><a class="dropdown-item" href="@@path/new-item.html">Upload Items</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Pages
                            </a>
                            <ul class="dropdown-menu start">
                                <li>
                                    <a class="dropdown-item" href="@@path/about.html">About</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="@@path/contact.html">Contact</a>
                                </li>
                                <li><a class="dropdown-item" href="@@path/faq.html">Faq's</a></li>
                                <li><a class="dropdown-item" href="@@path/404.html">404 Erro</a></li>
                                <li><a class="dropdown-item" href="@@path/terms.html">Policy</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Blog
                            </a>
                            <ul class="dropdown-menu start">
                                <li><a class="dropdown-item" href="@@path/blog.html">Blog List</a></li>

                                <li><a class="dropdown-item" href="@@path/blog-detail.html">Blog Detail</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Account
                            </a>
                            <ul class="dropdown-menu start">
                                <li><a class="dropdown-item" href="@@path/profile.html">Profile</a></li>
                                <li><a class="dropdown-item" href="@@path/account-edit.html">Edit Profile</a></li>
                                <li><a class="dropdown-item" href="@@path/account-notification.html">Notification</a></li>
                                <li><a class="dropdown-item" href="@@path/account-password.html">Changes Password</a></li>
                                <li><a class="dropdown-item" href="@@path/account-social.html">Social Profile</a></li>
                                <li><a class="dropdown-item" href="@@path/login.html">Login</a></li>
                                <li><a class="dropdown-item" href="@@path/signup.html">Signup</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                More Demos
                            </a>
                            <ul class="dropdown-menu start">
                                <li><a class="dropdown-item" href="../landing/index.html">Landing</a></li>
                                <li><a class="dropdown-item" href="../eCommerce/index.html">E-commerce</a></li>
                                <li><a class="dropdown-item" href="../nft/index.html">NFT Marketplace</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-end d-flex justify-content-center justify-content-md-end">
                <!-- Search -->
                <div class="h-col h-search collapse" id="header_search_bar1" style="">
                    <form class="h-search-form">
                        <div class="h-search-form-in">
                            <input type="text" placeholder="Search Here" value="" class="form-control">
                            <button class="search-btn"><i class="fi-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="h-col h-search-toggle">
                    <a class="h-col-icon h-search-icon collapsed" data-bs-toggle="collapse" href="#header_search_bar1" role="button" aria-expanded="false" aria-controls="header_search_bar1">
                        <i class="fi-search"></i>
                    </a>
                </div>
                <!-- Notification -->
                <div class="h-col h-notification dropdown">
                    <button class="h-col-icon h-notification-icon dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fi-bell"></i>
                        <sup>10</sup>
                    </button>
                    <div class="dropdown-menu px-2 py-0 dropdown-menu-end">
                        <ul class="list-group list-group-flush fs-sm">
                            <li class="list-group-item px-0 d-flex">
                                <div class="icon icon-md">
                                    <img title="" alt="" src="@@imgPath/img/nft/avatar-2.jpg">
                                </div>
                                <div class="col ps-3">
                                    <h6 class="fw-500 m-0 fs-sm"><a class="stretched-link text-reset" href="#">BoredApeYachtClub</a></h6>
                                    <span class="fs-xs">$4,656,886</span>
                                </div>
                            </li>
                            <li class="list-group-item px-0 d-flex">
                                <div class="icon icon-md">
                                    <img title="" alt="" src="@@imgPath/img/nft/avatar-3.jpg">
                                </div>
                                <div class="col ps-3">
                                    <h6 class="fw-500 m-0 fs-sm"><a class="stretched-link text-reset" href="#">BoredApeYachtClub</a></h6>
                                    <span class="fs-xs">$4,656,886</span>
                                </div>
                            </li>
                            <li class="list-group-item px-0 d-flex">
                                <div class="icon icon-md">
                                    <img title="" alt="" src="@@imgPath/img/nft/avatar-4.jpg">
                                </div>
                                <div class="col ps-3">
                                    <h6 class="fw-500 m-0 fs-sm"><a class="stretched-link text-reset" href="#">BoredApeYachtClub</a></h6>
                                    <span class="fs-xs">$4,656,886</span>
                                </div>
                            </li>
                        </ul>
                        <div class="pt-1 pb-2">
                            <a class="btn btn-primary btn-sm w-100" href="#">
                                View ALl
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Creat-->
                <!-- <div class="h-col h-create">
                    <a class="h-create-btn" href="#">Sign up</a>
                </div> -->
                <!-- User -->
                <div class="h-col h-user dropdown">
                    <button class="h-col-icon h-user-icon dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img title="" alt="" src="@@imgPath/img/nft/avatar-1.jpg">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li class="dropdown-header py-0">
                            <h6 class="m-0">Nancy Pelosi</h6>
                            <small>AC: #323232</small>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="bi bi-person"></i> My Account</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="bi bi-gear"></i> My Setting</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="bi bi-lock"></i> Log Out</a>
                        </li>
                    </ul>
                </div>
                <!-- Switch -->
                <!-- <div class="h-col h-switch">
                    <label class="theme-switch h-switch-icon" for="px_theme_mode">
                        <input type="checkbox" id="px_theme_mode">
                        <i class="fi-sun h-dark-icon"></i>
                        <i class="fi-moon h-light-icon"></i>
                    </label>
                </div> -->
                <!-- Mobile Toggle -->
                <div class="h-col h-toggler d-xl-none ms-auto">
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
                        <span class="toggler-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>