<header class="main-header main-header-01 @@HeaderClass">
    <div class="header-top bg-primary d-none d-md-block">
	<div class="container">
		<div class="row fs-xs">
			<div class="col-md-4 position-relative">
				<span class="text-white">Cash on Delivery Avialable</span>
				<div class="vr position-absolute end-0 top-0 bottom-0 bg-white"></div>
			</div>
			<div class="col-md-4 position-relative text-center">
				<span class="text-white">Cash on Delivery Avialable</span>
				<div class="vr position-absolute end-0 top-0 bottom-0 bg-white"></div>
			</div>
			<div class="col-md-4 position-relative text-end">
				<span class="text-white">Cash on Delivery Avialable</span>
			</div>
		</div>
	</div>
</div>
    <nav class="navbar navbar-expand-lg">
        <div class="@@ContainerClass">
            <!-- Logo -->
            <a class="navbar-brand header-navbar-brand" href="index.html">
                <img src="@@imgPath/img/ecommerce/logo.svg" title="" alt="">
            </a>
            <!-- Logo -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
                <div class="offcanvas-header">
                    <div class="offcanvas-title" id="offcanvasNavbar2Label">
                        <img class="logo-dark" src="@@imgPath/img/ecommerce/logo.svg" title="" alt="">
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">
                                Home
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Shop
                            </a>
                            <ul class="dropdown-menu start">
                                <li><a class="dropdown-item" href="shop.html">Shop</a></li>
                                <li><a class="dropdown-item" href="product-detail.html">Product Detail</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown dropdown-full">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Latest
                            </a>
                            <div class="dropdown-menu dropdown-mega-menu py-0">
                                <div class="container p-3 p-lg-4">
                                    <div class="row gy-4">
                                        <div class="col-6 col-lg-4 col-xl-2">
                                            <h6 class="mb-3 fw-500">Women's</h6>
                                            <ul class="list-unstyled link-style-03 m-0">
                                                <li><a href="#">Fusion Wear</a></li>
                                                <li><a href="#">Dress Materials</a></li>
                                                <li><a href="#">Dupattas &amp; Shawls</a></li>
                                                <li><a href="#">Ethnic Dresses</a></li>
                                                <li><a href="#">Jackets &amp; Waistcoats</a></li>
                                                <li><a href="#">Kurtas &amp; Suits</a></li>
                                                <li><a href="#">Sarees</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-6 col-lg-4 col-xl-2">
                                            <h6 class="mb-3 fw-500">Women's</h6>
                                            <ul class="list-unstyled link-style-03 m-0">
                                                <li><a href="#">Fusion Wear</a></li>
                                                <li><a href="#">Dress Materials</a></li>
                                                <li><a href="#">Dupattas &amp; Shawls</a></li>
                                                <li><a href="#">Ethnic Dresses</a></li>
                                                <li><a href="#">Jackets &amp; Waistcoats</a></li>
                                                <li><a href="#">Kurtas &amp; Suits</a></li>
                                                <li><a href="#">Sarees</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-3 d-flex flex-row">
                                            <div class="py-6 bg-center bg-cover d-flex align-items-center justify-content-center h-100 w-100" style="background-image: url(../assets/img/ecommerce/shop-banner-4.jpg);">
                                                <div class="text-center px-4 py-3">
                                                    <h6 class="text-uppercase text-white mb-0 letter-spacing-4 fw-300">NEW IN</h6>
                                                    <h3 class="fw-600 h4 text-white">2022 Collection</h3>
                                                    <div class="pt-2"><a class="btn btn-white btn-sm" href="#">Shop Now</a></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-lg-4 col-xl-2">
                                            <h6 class="mb-3 fw-500">Makeup</h6>
                                            <ul class="list-unstyled link-style-03 m-0">
                                                <li><a href="#">Sofa</a></li>
                                                <li><a href="#">Love Seat</a></li>
                                                <li><a href="#">Settee Sofa</a></li>
                                                <li><a href="#">Sleeper Sofas</a></li>
                                                <li><a href="#">Tuxedo</a></li>
                                                <li><a href="#">Chair &amp; Ottomans</a></li>
                                                <li><a href="#">Wing Chair</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xl-3 d-flex flex-row">
                                            <div class="py-6 bg-center bg-cover d-flex align-items-center justify-content-center h-100 w-100" style="background-image: url(../assets/img/ecommerce/shop-banner-3.jpg);">
                                                <div class="text-center px-4 py-3">
                                                    <h6 class="text-uppercase text-white mb-0 letter-spacing-4 fw-300">NEW IN</h6>
                                                    <h3 class="fw-600 h4 text-white">2022 Collection</h3>
                                                    <div class="pt-2"><a class="btn btn-white btn-sm" href="#">Shop Now</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown dropdown-full">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Collection
                            </a>
                            <div class="dropdown-menu dropdown-mega-menu py-0">
                                <div class="container p-3 p-lg-4">
                                    <div class="row gy-4">
                                        <div class="col-6 col-lg-3 col-xl-2">
                                            <h6 class="mb-3 fw-500">Women's</h6>
                                            <ul class="list-unstyled link-style-03 m-0">
                                                <li><a href="#">Fusion Wear</a></li>
                                                <li><a href="#">Dress Materials</a></li>
                                                <li><a href="#">Dupattas &amp; Shawls</a></li>
                                                <li><a href="#">Ethnic Dresses</a></li>
                                                <li><a href="#">Jackets &amp; Waistcoats</a></li>
                                                <li><a href="#">Kurtas &amp; Suits</a></li>
                                                <li><a href="#">Sarees</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-6 col-lg-3 col-xl-2">
                                            <h6 class="mb-3 fw-500">Women's</h6>
                                            <ul class="list-unstyled link-style-03 m-0">
                                                <li><a href="#">Fusion Wear</a></li>
                                                <li><a href="#">Dress Materials</a></li>
                                                <li><a href="#">Dupattas &amp; Shawls</a></li>
                                                <li><a href="#">Ethnic Dresses</a></li>
                                                <li><a href="#">Jackets &amp; Waistcoats</a></li>
                                                <li><a href="#">Kurtas &amp; Suits</a></li>
                                                <li><a href="#">Sarees</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-6 col-lg-3 col-xl-2">
                                            <h6 class="mb-3 fw-500">Makeup</h6>
                                            <ul class="list-unstyled link-style-03 m-0">
                                                <li><a href="#">Sofa</a></li>
                                                <li><a href="#">Love Seat</a></li>
                                                <li><a href="#">Settee Sofa</a></li>
                                                <li><a href="#">Sleeper Sofas</a></li>
                                                <li><a href="#">Tuxedo</a></li>
                                                <li><a href="#">Chair &amp; Ottomans</a></li>
                                                <li><a href="#">Wing Chair</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-lg-3 col-xl-6 d-flex flex-row">
                                            <div class="py-5 bg-center bg-cover d-flex align-items-center justify-content-center h-100 w-100" style="background-image: url(../assets/img/ecommerce/shop-banner-2.jpg);">
                                                <div class="text-center px-4 py-3">
                                                    <h6 class="text-uppercase text-white mb-0 letter-spacing-4 fw-300">NEW IN</h6>
                                                    <h3 class="fw-600 h4 text-white">2022 Collection</h3>
                                                    <div class="pt-2"><a class="btn btn-white btn-sm" href="#">Shop Now</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Pages
                            </a>
                            <ul class="dropdown-menu start">
                                <li><a class="dropdown-item" href="about.html">About</a></li>
                                <li><a class="dropdown-item" href="contact.html">Contact</a></li>
                                <li><a class="dropdown-item" href="account-address.html">Address</a></li>
                                <li><a class="dropdown-item" href="account-order.html">Order</a></li>
                                <li><a class="dropdown-item" href="account-single-order.html">Single Order</a></li>
                                <li><a class="dropdown-item" href="account-payment.html">Payment</a></li>
                                <li><a class="dropdown-item" href="account-profile.html">Profile</a></li>
                                <li><a class="dropdown-item" href="account-tickets.html">Support Tickets</a></li>
                                <li><a class="dropdown-item" href="account-wishlist.html">Wishlist</a></li>
                                <li><a class="dropdown-item" href="cart.html">Cart</a></li>
                                <li><a class="dropdown-item" href="checkout.html">Checkout</a></li>
                                <li><a class="dropdown-item" href="login.html">Login</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Blog
                            </a>
                            <ul class="dropdown-menu start">
                                <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                                <li><a class="dropdown-item" href="blog-detail.html">Blog Detail</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                More Demos
                            </a>
                            <ul class="dropdown-menu start">
                                <li><a class="dropdown-item" href="../landing/index.html">Landing</a></li>
                                <li><a class="dropdown-item" href="../eCommerce/index.html">E-commerce</a></li>
                                <li><a class="dropdown-item" href="../nft/index.html">NFT Marketplace</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-right">
                <div class="hr-col h-search">
                    <a class="h-icon" data-bs-toggle="collapse" href="#header_search" role="button" aria-expanded="true" aria-controls="header_search">
                        <i class="h-icon-i fi-search"></i>
                        <span class="d-none h-icon-text d-xl-inline-flex">Search</span>
                    </a>
                </div>
                <div class="hr-col h-user dropdown">
                    <a class="dropdown-toggle h-icon" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="h-icon-i fi-user"></i>
                        <span class="d-none h-icon-text d-xl-inline-flex">Sign In</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="account-profile.html">My Account</a></li>
                        <li><a class="dropdown-item" href="account-wishlist.html">My Wishlist</a></li>
                        <li><a class="dropdown-item" href="account-order.html">My Order</a></li>
                        <li><a class="dropdown-item" href="login.html">Sign Out</a></li>
                    </ul>
                </div>
                <div class="hr-col h-cart">
                    <a class="h-icon" data-bs-toggle="offcanvas" href="#mini_cart_offcanvas" role="button" aria-controls="mini_cart_offcanvas">
                        <i class="h-icon-i fi-shopping-cart"></i>
                        <span class="d-none h-icon-text d-xl-inline-flex">My Cart (0)</span>
                        <sup class="d-xl-none">0</sup>
                    </a>
                </div>
                <div class="h-toggle d-lg-none">
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
                        <span class="toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div class="collapse header-search" id="header_search">
                <div class="header-search-in container">
                    <form class="position-relative">
                        <input type="text" name="search" class="form-control" placeholder="Search...">
                        <button class="search-btn">
                            <i class="bi-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- Mini Cart -->
<div class="mini-cart-offcanvas offcanvas offcanvas-end" tabindex="-1" id="mini_cart_offcanvas" aria-labelledby="mini_cart_offcanvasLabel">
    <div class="offcanvas-header border-bottom">
        <h6 class="offcanvas-title" id="mini_cart_offcanvasLabel">Your Cart (2)</h6>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-unstyled m-0 p-0">
            <li class="py-3 border-bottom">
                <div class="row align-items-center g-2">
                    <div class="col-3">
                        <a href="#"><img class="img-fluid border" src="../assets/img/ecommerce/product-1.jpg" alt="..."></a>
                    </div>
                    <div class="col-9">
                        <p class="mb-2"><a class="text-dark fw-500" href="#">Cotton floral print Dress</a> <span class="m-0 text-muted w-100 d-block">$40.00</span></p>
                        <div class="d-flex align-items-center">
                            <select class="form-select form-select-sm w-auto">
                                <option value="1">1</option>
                                <option value="1">2</option>
                                <option value="1">3</option>
                            </select>
                            <a class="small text-dark ms-auto" href="#!"><i class="bi bi-x"></i> Remove</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="py-3 border-bottom">
                <div class="row align-items-center">
                    <div class="col-3">
                        <a href="#"><img class="img-fluid border" src="../assets/img/ecommerce/product-1.jpg" alt="..."></a>
                    </div>
                    <div class="col-9">
                        <p class="mb-2"><a class="text-dark fw-500" href="#">Cotton floral print Dress</a> <span class="m-0 text-muted w-100 d-block">$40.00</span></p>
                        <div class="d-flex align-items-center">
                            <select class="form-select form-select-sm w-auto">
                                <option value="1">1</option>
                                <option value="1">2</option>
                                <option value="1">3</option>
                            </select>
                            <a class="small text-dark ms-auto" href="#!"><i class="bi bi-x"></i> Remove</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="offcanvas-footer">
        <div class="mt-auto p-3 pt-0">
            <div class="row g-0 py-2">
                <div class="col-8"><span class="text-dark">Subtotal</span></div>
                <div class="col-4 text-end"><span class="ml-auto">$89.00</span></div>
            </div>
            <div class="row g-0 pt-2 mt-2 border-top fw-bold text-dark">
                <div class="col-8"><span class="text-dark">Subtotal</span></div>
                <div class="col-4 text-end"><span class="ml-auto">$89.00</span></div>
            </div>
            <div class="pt-4"><a class="btn btn-block btn-dark w-100 mb-3" href="#">Continue to Checkout</a> <a class="btn btn-block btn-outline-dark w-100" href="#">View Cart</a></div>
        </div>
    </div>
</div>
<!-- quick view -->
<div class="modal-quick-view modal fade" id="px-quick-view" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <button class="btn-close position-absolute end-0 top-0 me-2 mt-2 z-index-1" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body p-3">
                <div class="row">
                    <!-- Product Gallery -->
                    <div class="col-lg-6 lightbox-gallery product-gallery">
                        <img src="../assets/img/ecommerce/product-1.jpg" class="img-fluid" title="" alt="">
                    </div>
                    <!-- End Product Gallery -->
                    <!-- Product Details -->
                    <div class="col-lg-6">
                        <div class="product-detail pt-4 pt-lg-0">
                            <div class="pd-title">
                                <h5>Twin Palms Ruffle Dress</h5>
                            </div>
                            <div class="pd-rating fs-sm text-warning pb-2">
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star"></i>
                                <span class="text-dark">23 reviews</span>
                            </div>
                            <div class="pd-price pb-3">
                                <span class="price">$28.<small>50</small></span>
                                <del>$38.<small>50</small></del>
                                <span class="pp-offer">25% Off</span>
                            </div>
                            <div class="pd-form-box border-top pt-3">
                                <div class="pd-attribute mb-3">
                                    <label class="pd-title">Size</label>
                                    <div class="nav-thumbs nav">
                                        <div class="form-check radio-text form-check-inline me-2 large">
                                            <input class="form-check-input" type="radio" name="q_size_d3" id="q_xs_2" checked="">
                                            <label class="radio-text-label" for="q_xs_2">XS</label>
                                        </div>
                                        <div class="form-check radio-text form-check-inline me-2 large">
                                            <input class="form-check-input" type="radio" name="q_size_d3" id="q_s_2">
                                            <label class="radio-text-label" for="q_s_2">S</label>
                                        </div>
                                        <div class="form-check radio-text form-check-inline me-2 large">
                                            <input class="form-check-input" type="radio" name="q_size_d3" id="q_m_2">
                                            <label class="radio-text-label" for="q_m_2">M</label>
                                        </div>
                                        <div class="form-check radio-text form-check-inline me-2 large">
                                            <input class="form-check-input" type="radio" name="q_size_d3" id="q_l_2">
                                            <label class="radio-text-label" for="q_l_2">L</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="pd-attribute mb-3">
                                    <label class="pd-title">Color</label>
                                    <div class="nav-thumbs nav">
                                        <div class="form-check radio-color large form-check-inline me-2">
                                            <input class="form-check-input" type="radio" name="q_color_1" id="q_color_01" checked="">
                                            <label class="radio-color-label" for="q_color_01">
                                                <span style="background-color: #126532;"></span>
                                            </label>
                                        </div>
                                        <div class="form-check radio-color large form-check-inline me-2">
                                            <input class="form-check-input" type="radio" name="q_color_1" id="q_color_2">
                                            <label class="radio-color-label" for="q_color_2">
                                                <span style="background-color: #ff9922;"></span>
                                            </label>
                                        </div>
                                        <div class="form-check radio-color large form-check-inline me-2">
                                            <input class="form-check-input" type="radio" name="q_color_1" id="q_color_3">
                                            <label class="radio-color-label" for="q_color_3">
                                                <span style="background-color: #326598;"></span>
                                            </label>
                                        </div>
                                        <div class="form-check radio-color large form-check-inline me-2">
                                            <input class="form-check-input" type="radio" name="q_color_1" id="q_color_4">
                                            <label class="radio-color-label" for="q_color_4">
                                                <span style="background-color: #126578;"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="pd-qty">
                                    <div class="cart-qty">
                                        <div class="dec qty-btn qty_btn">-</div><input class="cart-qty-input form-control" type="text" name="qtybutton" value="1">
                                        <div class="inc qty-btn qty_btn">+</div>
                                    </div>
                                </div>
                                <div class="pd-cart d-flex pt-3">
                                    <button class="btn btn-primary col me-2"><i class="fi-shopping-cart me-1"></i> Add to Cart</button>
                                    <button class="btn btn-outline-primary"><i class="bi-lightning-charge me-1"></i> Quick Buy</button>
                                </div>
                                <p class="text-danger m-0 fs-sm pt-2">Only 2 Units left in stock.</p>
                            </div>
                            <div class="pd-brand d-flex border-top pt-3 mt-3">
                                <div class="avatar-xl border">
                                    <img class="avatar-img contain" src="../assets/img/brand/brand-1.jpg" title="" alt="">
                                </div>
                                <div class="col ps-3">
                                    <h6>LEVIS</h6>
                                    <p class="m-0">This is a genuine product of Brand. The product comes with a standard brand warranty of 90 days.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Product Details -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ask form -->
<div class="modal-askform-view modal fade" id="px_ask_modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ask about product</h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Your Name</label>
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Email address</label>
                                <input type="email" class="form-control" placeholder="E-mail">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputSubject">Subject</label>
                                <input type="text" class="form-control" placeholder="Subject" id="exampleInputSubject">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputMessage">Your Message</label>
                                <textarea class="form-control" rows="5" id="exampleInputMessage" placeholder="Your Message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- shipping form -->
<div class="modal-shipping-view modal fade" id="px_shipping_modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Shipping Information</h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <ul class="mb-3">
                    <li>Comodous in tempor ullamcorper miaculis</li>
                    <li>Pellentesque vitae neque mollis urna mattis laoreet.</li>
                    <li>Divamus sit amet purus justo.</li>
                    <li>Proin molestie egestas orci ac suscipit risus posuere loremous</li>
                </ul>
                <h4 class="pt-4">Privacy Policy</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <ul class="mb-5">
                    <li>Comodous in tempor ullamcorper miaculis</li>
                    <li>Pellentesque vitae neque mollis urna mattis laoreet.</li>
                    <li>Divamus sit amet purus justo.</li>
                    <li>Proin molestie egestas orci ac suscipit risus posuere loremous</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- shipping form -->
<div class="modal-size-chart modal fade" id="px_size_chart_modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Size Chart</h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table mb-0">
                    <thead>
                        <tr class="text-dark">
                            <th class="border-0 bg-light">US Sizes</th>
                            <th class="border-0 bg-light">Euro Sizes</th>
                            <th class="border-0 bg-light">UK Sizes</th>
                            <th class="border-0 bg-light">Inches</th>
                            <th class="border-0 bg-light">CM</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="">6</td>
                            <td>39</td>
                            <td>5.5</td>
                            <td>9.25"</td>
                            <td>23.5</td>
                        </tr>
                        <tr>
                            <td class="">6.5</td>
                            <td>39</td>
                            <td>6</td>
                            <td>9.5"</td>
                            <td>24.1</td>
                        </tr>
                        <tr>
                            <td class="">7</td>
                            <td>40</td>
                            <td>6.5</td>
                            <td>9.625"</td>
                            <td>24.4</td>
                        </tr>
                        <tr>
                            <td class="">7.5</td>
                            <td>40-41</td>
                            <td>7</td>
                            <td>9.75"</td>
                            <td>24.8</td>
                        </tr>
                        <tr>
                            <td class="">8</td>
                            <td>41</td>
                            <td>7.5</td>
                            <td>9.9375"</td>
                            <td>25.4</td>
                        </tr>
                        <tr>
                            <td class="">8.5</td>
                            <td>41-42</td>
                            <td>8</td>
                            <td>10.125"</td>
                            <td>25.7</td>
                        </tr>
                        <tr>
                            <td class="">9</td>
                            <td>42</td>
                            <td>8.5</td>
                            <td>10.25"</td>
                            <td>26</td>
                        </tr>
                        <tr>
                            <td class="">9.5</td>
                            <td>42-43</td>
                            <td>9</td>
                            <td>10.4375"</td>
                            <td>26.7</td>
                        </tr>
                        <tr>
                            <td class="">10</td>
                            <td>43</td>
                            <td>9.5</td>
                            <td>10.5625"</td>
                            <td>27</td>
                        </tr>
                        <tr>
                            <td class="">10.5</td>
                            <td>43-44</td>
                            <td>10</td>
                            <td>10.75"</td>
                            <td>27.3</td>
                        </tr>
                        <tr>
                            <td class="">11</td>
                            <td>44</td>
                            <td>10.5</td>
                            <td>10.9375"</td>
                            <td>27.9</td>
                        </tr>
                        <tr>
                            <td class="">11.5</td>
                            <td>44-45</td>
                            <td>11</td>
                            <td>11.125"</td>
                            <td>28.3</td>
                        </tr>
                        <tr>
                            <td class="">12</td>
                            <td>45</td>
                            <td>11.5</td>
                            <td>11.25"</td>
                            <td>28.6</td>
                        </tr>
                        <tr>
                            <td class="">13</td>
                            <td>46</td>
                            <td>12.5</td>
                            <td>11.5625"</td>
                            <td>29.4</td>
                        </tr>
                        <tr>
                            <td class="">14</td>
                            <td>47</td>
                            <td>13.5</td>
                            <td>11.875"</td>
                            <td>30.2</td>
                        </tr>
                        <tr>
                            <td class="">15</td>
                            <td>48</td>
                            <td>14.5</td>
                            <td>12.1875"</td>
                            <td>31</td>
                        </tr>
                        <tr>
                            <td class="">16</td>
                            <td>49</td>
                            <td>15.5</td>
                            <td>12.5"</td>
                            <td>31.8</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>