.header-bg {
    background: var(--#{$prefix}header-bg);
}

// Header Fixed Effect
.main-header {
    transition: ease transform 0.35s, ease background 0.35s;

    &.headroom--unpinned {
        transform: translateY(-100%);
    }

    /*&.headroom--pinned {
        transform: translateY(0);
    }*/

    &.default-fixed-header {
        &.headroom--unpinned {
            transform: translateY(0);
            box-shadow: $box-shadow-sm;
        }
    }
}


// Header Scroll Color
.main-header {
    &.navbar-light {
        &.headroom--not-top {
            background-color: var(--#{$prefix}header-bg);
        }

        &.headroom--pinned.headroom--not-top {
            box-shadow: $box-shadow-sm;
        }
    }
}

.main-header {
	.navbar {
		border-bottom: 1px solid var(--#{$prefix}header-border);
	}
}


// Logo
.navbar-brand {
	.logo-dark {
		display: none;
		.light-theme & {
			display: block;
		}
	}
	.logo-light {
		display: none;
		.dark-theme & {
			display: block;
		}
	}
}


.header-end {
	position: relative;
	.h-col {
        + .h-col {
            padding-left: 15px;
            @include media-breakpoint-down(md) {
                padding-left: 5px;
            }
        }
    }
    // Search
    .h-search {
        position: absolute;
        width: 100%;
        min-width: 300px;
        top: 100%;
        right: 0;
        .h-search-form {
            background: var(--#{$prefix}header-bg);
            border: 2px solid var(--#{$prefix}header-border);
            padding: 20px;
            margin-top: 0.25rem;
            .search-btn {
                right: 20px;
            }
        }
        .h-search-form-in {
	        position: relative;
	        .form-control {
	            padding: 0.475rem 1.98rem 0.475rem 0.7rem;
	            font-size: 0.9rem;
	            height: 40px;
	            border: 1px solid var(--#{$prefix}header-border);
	            color: var(--#{$prefix}header-link-color);
	            transition: none;
	        }
	        .search-btn {
	            border: none;
	            background: no-repeat;
	            position: absolute;
	            top: 0;
	            right: 0;
	            bottom: 0;
	            opacity: 0.5;
	            padding: 0 10px 0 10px;
	            margin: auto;
	            height: 40px;;
	            color: var(--#{$prefix}header-link-color);
	        }
	    }
    }
    .h-col {
        .h-col-icon {
            width: 40px;
            height: 40px;
            position: relative;
            border-radius: 0;
            align-items: center;
            justify-content: center;
            display: flex;
            font-size: 1.3rem;
            border: 1px solid var(--#{$prefix}header-border);
            color: var(--#{$prefix}header-link-color);
            cursor: pointer;
            background: transparent;
            padding: 0;
            @include media-breakpoint-down(md) {
                width: 38px;
                height: 38px;
            }
            &:after {
                display: none;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            sup {
                position: absolute;
                min-width: 23px;
                height: 23px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background: var(--#{$prefix}dark);
                color: var(--#{$prefix}white);
                font-size: 12px;
                top: -11px;
                right: -5px;
                border-radius: 0 0 0 10px;
                font-weight: 600;
            }
        }
    }

    // Create
    .h-create {
        .h-create-btn {
            padding: 0 15px;
            line-height: 38px;
            border: 1px solid var(--#{$prefix}header-border);
            color: var(--#{$prefix}header-link-color);
            display: inline-flex;
            border-radius: 0;
            font-size: 0.85rem;
            &:hover {
                background: var(--#{$prefix}primary);
                color: var(--#{$prefix}white);
                border-color: var(--#{$prefix}primary);
            }
        }
    }


    // Swtich
    .h-switch {
        .h-switch-icon {
            width: 40px;
            height: 40px;
            position: relative;
            border-radius: 0;
            align-items: center;
            justify-content: center;
            display: inline-flex;
            font-size: 1.2rem;
            border: 1px solid var(--#{$prefix}header-border);
            color: var(--#{$prefix}header-link-color);
            background: none;
            cursor: pointer;
            input[type="checkbox"] {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                opacity: 0;
            }
        }
    }

    // Toggle
    .navbar-toggler {
        width: 40px;
        height: 40px;
        padding: 0;
        border: 1px solid var(--#{$prefix}header-border);
        color: var(--#{$prefix}header-link-color);
        position: relative;
        @include media-breakpoint-down(md) {
            width: 38px;
            height: 38px;
        }
        .toggler-icon {
            position: absolute;
            top: 0;
            left: 8px;
            right: 8px;
            bottom: 0;
            height: 2px;
            margin: auto;
            box-shadow: 0 -7px 0 0 var(--#{$prefix}header-link-color), 0 7px 0 0 var(--#{$prefix}header-link-color);
            background: var(--#{$prefix}header-link-color);
        }
    }

    // dropdown
    .dropdown-menu {
        box-shadow: $box-shadow-lg;
    }
}


/*.h-dark-icon {
	display: inline-flex;
	.light-theme & {
		display: none;
	}
}
.h-light-icon {
	display: inline-flex;
	.dark-theme & {
		display: none;
	}
}*/