html,body{
    font-family: 'Courier New', Courier, monospace !important;
}

.page-head{
    margin-left: 25vw;
    margin-right:25vw;
}

.main{
    margin-left: 12vw;
    margin-right:12vw;
}

a,a:link,a:visited,a:focus,a:hover,a:active{
    text-decoration: none;
    color: black;
  }
  a.nav-link{
    font-weight: 800;
  }

.navbar-nav
{
    float: none;
}

.navbar-toggler
{
    display: block;
}

.navbar-collapse.collapse
{
    display: none!important;
}

.navbar-collapse.collapse.in {
    display: block!important;
  }



.conn-blue{
    color: #4a72aa!important;
}

.conn-dark-blue{
    color: #182d4c!important;
}

.off-white-bg{
    background-color: #f9f7f7!important;
}

.light-grey-bg{
    background-color: #d9d9d9!important;
}

.conn-blue-bg{
    background-color: #4a72aa!important;
    background-size:cover;
}

.conn-light-blue-bg{
    background-color: #3a89ff!important;
}

.mont{
    font-family: 'Montserrat', sans-serif;
}