<div class="modal-quick-view modal fade" id="px-quick-view" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <button class="btn-close position-absolute end-0 top-0 me-2 mt-2 z-index-1" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body p-3">
                <div class="row">
                    <!-- Product Gallery -->
                    <div class="col-lg-6 lightbox-gallery product-gallery">
                        <img src="../assets/img/ecommerce/product-1.jpg" class="img-fluid" title="" alt="">
                    </div>
                    <!-- End Product Gallery -->
                    <!-- Product Details -->
                    <div class="col-lg-6">
                        <div class="product-detail pt-4 pt-lg-0">
                            <div class="pd-title">
                                <h5>Twin Palms Ruffle Dress</h5>
                            </div>
                            <div class="pd-rating fs-sm text-warning pb-2">
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star"></i>
                                <span class="text-dark">23 reviews</span>
                            </div>
                            <div class="pd-price pb-3">
                                <span class="price">$28.<small>50</small></span>
                                <del>$38.<small>50</small></del>
                                <span class="pp-offer">25% Off</span>
                            </div>
                            <div class="pd-form-box border-top pt-3">
                                <div class="pd-attribute mb-3">
                                    <label class="pd-title">Size</label>
                                    <div class="nav-thumbs nav">
                                        <div class="form-check radio-text form-check-inline me-2 large">
                                            <input class="form-check-input" type="radio" name="q_size_d3" id="q_xs_2" checked="">
                                            <label class="radio-text-label" for="q_xs_2">XS</label>
                                        </div>
                                        <div class="form-check radio-text form-check-inline me-2 large">
                                            <input class="form-check-input" type="radio" name="q_size_d3" id="q_s_2">
                                            <label class="radio-text-label" for="q_s_2">S</label>
                                        </div>
                                        <div class="form-check radio-text form-check-inline me-2 large">
                                            <input class="form-check-input" type="radio" name="q_size_d3" id="q_m_2">
                                            <label class="radio-text-label" for="q_m_2">M</label>
                                        </div>
                                        <div class="form-check radio-text form-check-inline me-2 large">
                                            <input class="form-check-input" type="radio" name="q_size_d3" id="q_l_2">
                                            <label class="radio-text-label" for="q_l_2">L</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="pd-attribute mb-3">
                                    <label class="pd-title">Color</label>
                                    <div class="nav-thumbs nav">
                                        <div class="form-check radio-color large form-check-inline me-2">
                                            <input class="form-check-input" type="radio" name="q_color_1" id="q_color_01" checked="">
                                            <label class="radio-color-label" for="q_color_01">
                                                <span style="background-color: #126532;"></span>
                                            </label>
                                        </div>
                                        <div class="form-check radio-color large form-check-inline me-2">
                                            <input class="form-check-input" type="radio" name="q_color_1" id="q_color_2">
                                            <label class="radio-color-label" for="q_color_2">
                                                <span style="background-color: #ff9922;"></span>
                                            </label>
                                        </div>
                                        <div class="form-check radio-color large form-check-inline me-2">
                                            <input class="form-check-input" type="radio" name="q_color_1" id="q_color_3">
                                            <label class="radio-color-label" for="q_color_3">
                                                <span style="background-color: #326598;"></span>
                                            </label>
                                        </div>
                                        <div class="form-check radio-color large form-check-inline me-2">
                                            <input class="form-check-input" type="radio" name="q_color_1" id="q_color_4">
                                            <label class="radio-color-label" for="q_color_4">
                                                <span style="background-color: #126578;"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="pd-qty">
                                    <div class="cart-qty">
                                        <div class="dec qty-btn qty_btn">-</div><input class="cart-qty-input form-control" type="text" name="qtybutton" value="1">
                                        <div class="inc qty-btn qty_btn">+</div>
                                    </div>
                                </div>
                                <div class="pd-cart d-flex pt-3">
                                    <button class="btn btn-primary col me-2"><i class="fi-shopping-cart me-1"></i> Add to Cart</button>
                                    <button class="btn btn-outline-primary"><i class="bi-lightning-charge me-1"></i> Quick Buy</button>
                                </div>
                                <p class="text-danger m-0 fs-sm pt-2">Only 2 Units left in stock.</p>
                            </div>
                            <div class="pd-brand d-flex border-top pt-3 mt-3">
                                <div class="avatar-xl border">
                                    <img class="avatar-img contain" src="../assets/img/brand/brand-1.jpg" title="" alt="">
                                </div>
                                <div class="col ps-3">
                                    <h6>LEVIS</h6>
                                    <p class="m-0">This is a genuine product of Brand. The product comes with a standard brand warranty of 90 days.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Product Details -->
                </div>
            </div>
        </div>
    </div>
</div>