.conn-blue{
    color: #4a72aa;
}

.page-title{
    background-color: #f1f7ff!important;
}

.list-group-item-action.active{
    background-color: #4a72aa;
}

.accordion-button{
    background-color: #f1f7ff!important;
}
